body {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #f4f4f4;
    overflow-x: auto;
}

/* Estilo para o cabeçalho fixo */
.thead01 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 30px;
    z-index: 1;
    background-color: #068d35;
    color: #3a0303;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
    width: 100%; 
    /* margin-left: auto; */
    /* margin-right: auto;  */
}

/* Adicionar margem ao conteúdo da tabela para evitar sobreposição pelo cabeçalho fixo */
#primary-table {
    background-color: #068d35;
    padding-top: 34px;
}

.accordion {
    width: 100%;
    margin: auto;
    box-shadow: 0 2px 5px rgba(173, 27, 27, 0.2);
}

.destaque {
    font-weight: 600;
    margin: auto;
    color: rgb(0, 0, 0);
}

.linha {
    padding: 80px;
    border-bottom: 10px solid #7e1313;
}

thead {
    padding: 25px;
    padding-bottom: 30px;
    background-color: #03742a;
    color: #fff;
    border-right: 160px;

}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
    cursor: pointer;
    transition: background-color 0.6s ease;
}

tbody tr:nth-child(even) {
    background-color: #cce9d9;
}

.accordion-button {
    background-color: #227429;
    color: white;
    padding: 1px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: background-color 0.6s ease;
}

.accordion-button:hover, .accordion-button:focus {
    background-color: #176d1e;
}

.accordion-content {
    background-color: white;
    color: rgb(0, 0, 0);
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

table {
    width: 100%;
    border-collapse: collapse;

}

/* Ajustar o preenchimento das células para coincidir com o cabeçalho */
th, td {
    padding-top: 10px; /* Ajustar preenchimento superior */
    padding-bottom: 10px; /* Ajustar preenchimento inferior */
    padding-left: 10px; /* Ajustar preenchimento à esquerda */
  }
  
  /* Remover a sobreposição do conteúdo da tabela pelo cabeçalho fixo */
  #primary-table tr:first-child th, #primary-table tr:first-child td {
    margin-top: 20px; /* Altura do cabeçalho fixo */
  }
  

/* No centro */
.centralizado {
    text-align: center;
    width: 30%;
    padding-left: 10px;
    padding-right: 10px;
}

/* A esquerda */
.grupo {
    text-align: left;
    width: 30%;
    padding-left: 40px;
}

/* A direita */
.direita {
    text-align: right;
    width: 30%;    
    padding-right: 50px;
}


.accordion-title {
    font-weight: lighter;
}

.secondary-table table {
    margin-top: 10px;
    background-color: #c7b4b4;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    overflow-x: auto;
    display: block; /* Added for horizontal overflow handling */

}

/* Responsive design */
@media screen and (max-width: 600px) {


    thead {
        padding-bottom: 1px;
    }

    br {
    padding-top: 60px;        
    padding-bottom: 120px;
    position: fixed;
    margin-top: 100px;
    }

    table{
        overflow-x: auto;
    }
    
    th, td {
        margin-top: 0px;
        text-align: left;
        padding-left: 10px;
        position: sticky;
        overflow-x: auto;
    }

    
    th::before, td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 30%;
        padding-left: 0 px;
        text-align: left;
        font-weight: bold;
        white-space: nowrap;
    }
 
    th:first-child, td:first-child {
        padding-top:10px;
        margin-top: 25px;
        width: 10px;
    }

/* A esquerda */
    .grupo {
        text-align: left;
        width: 20%;
        padding-left: 20px;
        padding-right: 50px;
        vertical-align: middle;
        }


    /* No centro */
    .centralizado {
      text-align: center;
      padding-right: 20px;
      padding-left: 20px;
      width: 5%;
      vertical-align: middle;

    }

    /* A direita */
    .direita {
   text-align: right;
   width: 40%;    
   padding-left: 20px;
   padding-right: 15px;
   vertical-align: middle;
    }

    /* Ajustar margens das tabelas secundárias */
    .secondary-table table {
        margin-top: 1px;

    }
 }
    
 
 
 
 
 

 
 
 
 