body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
}

/* Estilo para o cabeçalho fixo */
.thead01 {
    position: fixed;
    top: 0;
    left: 10;
    right: 0;
    z-index: 1; /* Garantir que o cabeçalho fique acima do conteúdo da tabela */
    width: 100%; /* Manter a largura do cabeçalho igual à da tabela */
    background-color: #fff; /* Definir a cor de fundo do cabeçalho */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Adicionar uma sombra sutil */
    background-color: #051b07; /* Cor do cabeçalho */
    padding: 20px;

  }
  
  #primary-table thead.thead01 {
    position: fixed;
    top: 0;
    left: 10px;
    right: 10px;
    z-index: 1;
    width: calc(100% - 20px);
    background-color: #042707;
    padding: 20px;
    color: #f4f4f4;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.accordion {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    box-shadow: 0 2px 5px rgba(173, 27, 27, 0.2);
}


.destaque{
    font-weight: 600;
    margin: auto;
    color: rgb(0, 0, 0);
}

.linha {
    padding: 8px;
    border-bottom: 10px solid #7e1313;
}
/* .accordion-item {
    background-color: #ee82ee; 
    color: white;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    font-weight: normal;
    transition: background-color 0.6s ease;
} */



thead {
    background-color: #068d35; /* Pumpkin header */
    color: #fff;
}

tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Light grey for odd rows */
    cursor: pointer;
    transition: background-color 0.6s ease;
}

tbody tr:nth-child(even) {
    background-color: #cce9d9; /* White for even rows */
}

.accordion-button {
    background-color: #227429;
    color: white;
    /* cursor: pointer; */
    padding: 1px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: background-color 0.6s ease;

}

/*Hover acordeon*/
.accordion-button:hover, .accordion-button:focus {
    background-color: #176d1e;
}

.accordion-content {
    background-color: white;
    color: rgb(0, 0, 0);
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

table {
    width: 100%;
    border-collapse: collapse;
    
}

th, td {
    padding: 12px;
    padding-top: 2;
    border-bottom: 0px solid #6e2323;
}



/* Centralizar conteúdo */
.centralizado {
    text-align: center;
    width: 20%;
}

/* Ajustar a coluna "Grupo" */
.grupo {
    text-align: left;
    width: 40%;
    padding-left: 20px;
}
/* 
thead {
    background-color: #083f05;
    color: #f2f2f2;
} */

.accordion-title {
    font-weight: lighter;
}

.secondary-table table {
    margin-top: 1px;
    background-color: #c7b4b4; /* Light gray background for secondary tables */
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}



/* Responsive design */
@media screen and (max-width: 600px) {
    table, thead, tbody, th, td, tr {
        display: block;
    }

    th, td {
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    th::before, td::before {
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 10px;
        text-align: left;
        font-weight: bold;
        white-space: nowrap;
    }

    th, td {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    thead {
        display: block;
    } 

    tr {
        margin-bottom: 10px;
    }

    th:first-child, td:first-child {
        width: 100%;
    }

    
}
